*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
:root
    {
        --el-fondo: var(background-image: linear-gradient(to bottom, #434343 0%, black 100%););
        --font-color: #A569BD;
        --font: 'Poppins', sans-serif;
    }
html
    {
        font-size: 62.5%;
    }
body
    {
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        font-family: var(--font);
        overflow: hidden;
    }
header
    {
        width: 100%;
        height: 80px;
        display: flex;
    }
header h1
    {
        align-self: center;
        margin: 0 auto;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.4rem;
    }
